{% extends "master.html" %}
{% block title %}
Change Password
{% endblock %}
{% block content %}
<div class="login-page">
  <div class="login-picture">
    <i class="fa-solid fa-unlock"></i>
  </div>
  <div class="form w-100" style="max-width: 50rem!important;">
    <h1>Change Password</h1>
    <!-- {% csrf_token %} -->
    <!-- <input name="old_password" type="password" placeholder="Old Password" /> -->
    <!-- <input name="new_password1" type="password" placeholder="New Password" />
    <input name="new_password2" type="password" placeholder="Confirm New Password" /> -->
    <form class="register-form" action="{% url 'change-password' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change</button>
        <p class="message">
        <a href="/">Back to Homepage</a>
    </p>
    </form>
        
  </div>
{% endblock %}