{% extends "master.html" %}
{% block title %}
  Register
{% endblock %}
{% block content %}
<div class="login-page">
    <div class="login-picture">
      <i class="fa-solid fa-key"></i>
    </div>
    <div class="form">
      <h1>Register</h1>
      <div class="register-form">
        <input
          type="email"
          placeholder="Email address"
          required
        />
        <input
          type="password"
          placeholder="Password"
        />
        <input
          type="password"
          placeholder="Confirm Password"
        />
        <button onClick={handleRegister}>Create</button>
        <p class="message">
          Already registered?
          <a href="/login">Sign In</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}