@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.login-picture {
  background: linear-gradient(
      180deg,
      rgba(109, 0, 249, 0.5) 0%,
      rgba(109, 0, 249, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(188, 124, 124, 0.5) 46.39%,
      rgba(188, 124, 124, 0) 100%
    );
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-picture i {
  font-size: 200px;
  color: #fff;
}
.form {
  width: 50vw;
  position: relative;
  z-index: 1;
  background: #ffffff;
  margin: auto;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #5b5c5b;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #000000;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: black; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
}
.dark-cl {
  background: #0d0d0d;
}
.main-container {
  width: 80vw;
  height: 10vh;
}
.header-content {
  width: 100%;
  display: flex;
}
.search-box {
  position: absolute;
  width: 355px;
  height: 50px;
  left: 611px;
  top: 15px;
  background: #2b2b2b;
  border-radius: 30px;
}
.search-box input {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 20px;
  top: 5px;
  background: #2b2b2b;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 0 0 0 10px;
  font-style: italic;
}
.search-box svg {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 320px;
  top: 11px;
  color: white;
  z-index: 1;
}

.avatar {
  /* position: absolute;
  left: 90%;
  top: 15px;
  object-fit: cover;
  border-radius: 50%; */
  margin-top: 15px;
  margin-right: 20px;
  margin-left: auto;
}
.avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.music-card {
  width: 220px;
  height: 270px;
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}
.music-card .music-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}
.music-card img {
  width: 100%;
  border-radius: 20px;
}
.music-card i {
  font-size: 135px;
  color: white;
}

.music-card .music-name {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 15px 0 0 0;
}
.music-card .music-singer {
  color: #919191;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
}
.list-musics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 20px 0 0 20px;
}
.head-group-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 20px 0 0 20px;
}
.music-listennings {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: black;
  width: 100%;
  height: 100px;
}
.music-container {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.music-container .music-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 20px;
}
.music-container .music-info {
  padding: 20px;
}
.music-container img {
  width: 100%;
  border-radius: 20px;
}
.music-container .music-name {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 15px 0 0 0;
}
.music-container .music-singer {
  color: #919191;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
}
.music-control {
  width: 15vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.progress-bar {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
  margin: 0 40px 0 40px;
}
.music-control-volume {
  width: 15vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 10px 0 10px;
}
.music-control-volume i {
  padding: 0 10px 0 10px;
}
progress {
  width: 100%;
  height: 5px;
  background: #2b2b2b;
  border-radius: 5px;
  margin: 0 10px 0 10px;
}
.music-card:hover {
  background: #1e1e1e;
  cursor: pointer;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}
.detail_song {
  margin-top: 20px;
  background: #2b2b2b;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
.detail_song .detail_song_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.detail_song .detail_song_img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.detail_song img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.detail_song .detail_song_name {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px 0 0 0;
}
.detail_song .detail_song_singer {
  color: #919191;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
#progressBar {
  padding: 0 15px;
}
.alert-style {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1;
}
.main-content
{
  width: 80vw;
}
.music-control-btn i:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  cursor: pointer;
}
.btn-add-playlist {
  background: transparent;
  border-radius: 20px;
  color: white;
  border: none;
  margin: 0 0 0 20px;
}
.btn-add-playlist:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  cursor: pointer;
}