{% extends "master.html" %} {% block title %} Album: {{ album.name }} {% endblock %} 
{% block content %} {% include 'navbar.html' %}

<div style="width: 80vw; max-height: 100vh; overflow-x: hidden; overflow-y: auto;">
  {% include 'header.html' %}

  <div class="main-content">
    <div class="head-group-title" style="display: flex">Album: </div>
    <div class="group-song d-flex justify-content-center">
      <div class="row w-100">
        <div
          class="col-md-3 d-flex align-items-center pt-3 flex-column text-white"
        >
          <img
            src="{{ album.cover_path.url }}"
            alt="avatar"
            style="width: 300px; height: 300px; border-radius: 10%"
          />
          <div class="album-name pt-3" style="font-size: 36px;">{{album.name}}</div>
          <a href="{% url 'artist' album.artist.id %}" style="text-decoration: none; color: white; font-size: 20px;">
            <div class="album-another">{{album.artist}}</div>
          </a>
          <div class="album-another">{{album.release_day}}</div>
          <button type="button" class="btn btn-primary mt-2" onclick="playAll()">
            <i id="play_album" class="fas fa-play px-2"></i>
            Phát tất cả</button>
        </div>
        <div class="col-md-9">
          <div class="list-songs pt-3">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tên bài hát</th>
                  <th scope="col">Lượt nghe</th>
                  <th scope="col">Ngày phát hành</th>
                  <th scope="col">Thời lượng</th>
                </tr>
              </thead>
              <tbody>
                {% for song in songs %}
                <tr onclick="playMusic({{ song.id }})">
                  <td scope="row">{{forloop.counter}}</td>
                  <td>
                      <img
                        src="{{ song.get_cover_path }}"
                        style="width: 50px; height: 50px; border-radius: 50%"
                      />
                      {{song.name}}
                  </td>
                  <td>{{song.stream_count}}</td>
                  <td>{{song.release_day}}</td>
                  <td>{{song.duration}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="music-listennings" style="display: none;">
    <div class="music-container">
      <div class="music-img">
        <img id="music-img" src="https://yt3.googleusercontent.com/vCqmJ7cdUYpvR0bqLpWIe8ktaor4QafQLlfQyTuZy-M9W_YafT8Wo9kdsKL2St1BrkMRpVSJgA=s900-c-k-c0x00ffffff-no-rj" alt="avatar">
      </div>
      <div class="music-info">
        <div id="music-name" class="music-name">Bài hát 1</div>
        <div id="artist" class="music-singer">Ca sĩ 1</div>
      </div>
    </div>

    <div class="music-control">
      <div class="music-control-btn">
        <i class="fas fa-heart"></i>
      </div>
      <div class="music-control-btn">
        <i class="fas fa-random"></i>
      </div>
      <div class="music-control-btn">
        <i id="previousbtn" class="fas fa-step-backward"></i>
      </div>
      <div class="music-control-btn">
        <i id="playbtn" class="fas fa-play"></i>
      </div>
      <div class="music-control-btn">
        <i id="nextbtn" class="fas fa-step-forward"></i>
      </div>
    </div>

    <div class="progress-bar">
      <div id="timeleft" class="time-left">00:00</div>
      <input type="range" class="form-range" id="progressBar">
      <div id="timeright" class="time-right"></div>
    </div>

    <div class="music-control-volume">
      <i class="fas fa-volume-up"></i>
      <input type="range" class="form-range" id="volumeBar">
    </div>
  </div>

  <script>
    const songs = JSON.parse("{{songJson|escapejs}}");
    var currIdx = 0;
    var isPlaying = false;
    const musicName = document.getElementById('music-name');
    const artist = document.getElementById('artist');
    const img = document.getElementById('music-img');
    const audio = new Audio(songs ? songs[currIdx].audio : "");
    const playBtn = document.getElementById('playbtn');
    const progressBar = document.getElementById('progressBar');
    const timeleft = document.getElementById('timeleft');
    const timeright = document.getElementById('timeright');
    const volumeBar = document.getElementById('volumeBar');
    const nextBtn = document.getElementById('nextbtn');
    const previousBtn = document.getElementById('previousbtn');
    const musicCards = document.getElementsByClassName('music-card');
    const play_album = document.getElementById('play_album');
    const musicListennings = document.querySelector(".music-listennings");

    let mouseDownOnSlider = false;
    
    playAll = () => {
        musicListennings.style.display = "flex";
        currIdx = 0;
        audio.src = songs[currIdx].audio;
        img.src = songs[currIdx].cover_path;
        playBtn.className = "fas fa-pause";
        play_album.className = "fas fa-pause px-2";
        isPlaying = true;
        audio.play();
    }

    playMusic = (id) => {
    musicListennings.style.display = "flex";
      currIdx = songs.findIndex(song => song.id == id)
      audio.src = songs[currIdx].audio;
      img.src = songs[currIdx].cover_path;
      playBtn.className = "fas fa-pause";
    play_album.className = "fas fa-pause px-2";
      isPlaying = true;
      audio.play();
    }
    audio.addEventListener('ended', () => {
      current_id = songs[currIdx].id
      $.ajax(
      {
        type:"POST",
        url: "{% url 'stream' %}",
        data: {
          song_id: current_id
        },
        success: function(data) {
          console.log('Done')
        }
      })
    })
  
    nextBtn.addEventListener("click", () => {
      if (currIdx < songs.length - 1) {
        currIdx++;
      } else {
        currIdx = 0;
      }
      audio.src = songs[currIdx].audio;
      img.src = songs[currIdx].cover_path;
      if (isPlaying)
        audio.play();
    })
  
    previousBtn.addEventListener("click", () => {
      if (currIdx > 0) {
        currIdx--;
      } else {
        currIdx = songs.length - 1;
      }
      audio.src = songs[currIdx].audio;
      img.src = songs[currIdx].cover_path;
      if (isPlaying)
        audio.play();
    })
  
    audio.addEventListener("loadeddata", () => {
      progressBar.value = 0;
      timeright.innerHTML = formatTime(audio.duration);
      audio.volume = volumeBar.value / 100;
      musicName.innerHTML = songs[currIdx].name;
      img.src = songs[currIdx].cover_path;
      artist.innerHTML = songs[currIdx].artists.map(artist => artist.name).join(", ");
    });
    audio.addEventListener("timeupdate", () => {
      if (!mouseDownOnSlider) {
        progressBar.value = audio.currentTime / audio.duration * 100;
        timeleft.innerHTML = formatTime(audio.currentTime);
      }
    });
    audio.addEventListener("ended", () => {
      nextBtn.click();
    });
  
    playBtn.addEventListener("click", () => {
      audio.paused ? audio.play() : audio.pause();
      isPlaying = !audio.paused;
      playBtn.className = audio.paused ? "fas fa-play" : "fas fa-pause";
        play_album.className = audio.paused ? "fas fa-play px-2" : "fas fa-pause px-2";
    });
  
    progressBar.addEventListener("change", () => {
      audio.currentTime = (audio.duration || 0) * progressBar.value / 100;
    });
    progressBar.addEventListener("mousedown", () => {
      mouseDownOnSlider = true;
    });
    progressBar.addEventListener("mouseup", () => {
      mouseDownOnSlider = false;
    });
  
    volumeBar.addEventListener("change", () => {
      audio.volume = volumeBar.value / 100;
    });
  
    function formatTime(seconds) {
      minutes = Math.floor(seconds / 60);
      minutes = (minutes >= 10) ? minutes : "0" + minutes;
      seconds = Math.floor(seconds % 60);
      seconds = (seconds >= 10) ? seconds : "0" + seconds;
      return minutes + ":" + seconds;
    }
  </script>
{% endblock %}
