{% extends "master.html" %}
{% block title %}
{{artist.name}}
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="main-container">
    {% include 'header.html' %}
    <div class="cover-container" style="position: relative; color: white; height: 350px; width: 100%;">
        <img src="{{ artist.cover_path.url }}" alt="" style="height: 100%; margin:auto; position: absolute; object-fit: contain; right: 10%">
        <div class="artist-name-banner" style="position: absolute; top:50%; transform: translateY(-50%); left: 40px; font-size: 80px; font-weight: 700;">{{ artist.name}}</div>
    </div>
    <div class="music-container" style="width: 100%; position: relative; margin: 20px 10px;">
        <div class="music-popular-container" style="margin: 10px; color: white">
            <div class="head-group-title" style="font-size: 30px; height: 40px; position: absolute; ">Phổ biến</div>
            <div class="group-song d-flex justify-content-center" style="margin-top: 40px;">
                <div class="list-songs pt-3" style="width: 78vw">
                  <table class="table table-dark table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="text-align: left;">Tên bài hát</th>
                        <th scope="col">Lượt nghe</th>
                        <!-- <th scope="col">Ngày phát hành</th> -->
                        <th scope="col">Thời lượng</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for song in popular_songs %}
                      <tr onclick="playMusic({{ song.id }})">
                        <th scope="row">{{forloop.counter}}</th>
                        <td style="text-align: left;">
                          <img src="{{ song.get_cover_path }}" alt="avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                          {{song.name}}
                        </td>
                        <td>{{song.stream_count}}</td>
                        <!-- <td>{{song.release_day}}</td> -->
                        <td>{{song.duration}}</td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
                      
            </div>
        </div>
    </div>
    <div>
        <div class="head-group-title">Album gần đây</div>
        <div class="list-musics" style="width: 78vw">
        {% if latest_albums %}
            {% for album in latest_albums %}
                <!-- {% with cover_path="../../media/album_cover/"|add:album.cover_path %} -->
                <a href="{% url 'album' album.id %}" style="text-decoration: none">
                <div id="{{ album.id }}" class="music-card">
                <div id="{{ album.id }}" class="music-img">
                    <img id="{{ album.id }}" src="{{ album.cover_path.url }}" alt="avatar">
                </div>
                    <div id="{{ album.id }}" class="music-info">
                        <div id="{{ album.id }}" class="music-name">{{ album.name }}</div>
                        <div id="{{ album.id }}" class="music-singer">{{ album.artist.name }}</div>
                    </div>
                </div>
                </a>
                {% endwith %}
            {% endfor %}
        {% endif %}
        </div>
    </div>

    <div>
        <div class="head-group-title">Tất cả bài hát</div>
        <div class="list-musics" style="width: 78vw">
            {% if songs %}
                {% for song in songs %}
                    <!-- {% with cover_path="../../media/song_cover/"|add:song.cover_path %} -->
                    <div id="{{ song.id }}" class="music-card">
                    <div id="{{ song.id }}" class="music-img">
                        <img id="{{ song.id }}" src="{{ song.get_cover_path }}" alt="avatar">
                    </div>
                        <div id="{{ song.id }}" class="music-info">
                            <div id="{{ song.id }}" class="music-name">{{ song.name }}</div>
                            <div id="{{ song.id }}" class="music-singer">{{ song.artist_list_str }}</div>
                        </div>
                        <div>
                            <i class="fas fa-play" onclick="playMusic({{ song.id }})" style="font-size: 12px;"></i>
                            <input type="hidden" id="url-{{song.id}}" data-url="{% url 'song_playlists' song.id %}" />
                            <button class="btn-add-playlist" type="button" data-bs-toggle="modal" data-bs-target="#song_playlistform"
                              onclick="showPlaylists({{ song.id }})">
                              <i class="fas fa-plus" style="font-size: 12px;"></i>
                          </div>
                    </div>
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="pb-5">
        <div class="head-group-title" >About</div>
        <div style="margin-right: 20px; border: 1px groove burlywood; margin: 10px; background-color: var(--bs-table-bg); border-radius: 8px;">
            <p style="text-align: justify; margin: 15px; font: 20px Ariel, sans-serif; color: whitesmoke"> {{ artist.about }}</p>
        </div>
        
    </div>
    {% include 'music_player.html' %}
</div>
{% include 'song_playlistform.html' %}
{% endblock %}