{% extends "master.html" %}
{% block title %}
  Playlists
{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="main-container">
    {% include 'header.html' %}

  <div class="main-content">
    <div class="head-group-title" style="display: flex">Bài hát được nghe nhiều nhất:
      <!-- <button type="button" class="btn btn-primary" style="margin-left: auto; margin-right: 20px;">Phát tất cả</button> -->
    </div>
    <div class="group-song d-flex justify-content-center">
    <div class="list-songs pt-3" style="width: 78vw">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên bài hát</th>
            <th scope="col">Lượt nghe</th>
            <th scope="col">Ngày phát hành</th>
            <th scope="col">Thời lượng</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          
          <tr class="top-{{forloop.counter}}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <a href="/music/{{song.id}}" style="text-decoration: none; color: white">
              <img src="{{ song.get_cover_path }}" alt="avatar" style="width: 50px; height: 50px; border-radius: 50%;">
              {{song.name}}
              </a>
            </td>
            <td>{{song.stream_count}}</td>
            <td>{{song.release_day}}</td>
            <td>{{song.duration}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
          
</div>
  
  </div>

</div>
{% endblock %}