{% extends "master.html" %}
{% block title %}
  Detail Song
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

  <div>
    {% include 'header.html' %}
  <div class="main-content" style="display: flex;align-items: center; justify-content: center;">
    <div class="detail_song">
      <div class="detail_song_img">
        <img src="https://img.cand.com.vn/resize/800x800/NewFiles/Images/2022/04/29/ST3-1651223070682.jpeg" alt="detail_song_img">
      </div>
      <div class="detail_song_info">
        <div class="detail_song_name">
          <h1>Chúng ta của hiện tại</h1>
        </div>
        <div class="detail_song_singer">
          <h2>Sơn Tùng M-TP</h2>
        </div>
        <button class="btn btn-primary">Nghe bài hát</button>
      </div>
    </div>
</div>
        
</div>

{% endblock %}