{% extends "master.html" %}
{% block title %}
{{song.name}}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<head>
  {% load static %}
  <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
</head>
<div class="main-container">

  {% include 'header.html' %}
  <div class="main-content" style="display: flex;align-items: center; justify-content: center;">
    <div class="detail_song">
      <div class="detail_song_img">
        <img src="{{ song.get_cover_path }}" alt="detail_song_img">
      </div>
      <div class="detail_song_info">
        <div class="detail_song_name">
          <h1>{{song.name}}</h1>
        </div>
        <div class="detail_song_singer">
          <a href="{% url 'artist' song.artists.all.first.id%}" style="text-decoration: none; color: white">
            <h2>{{song.artist_list_str}}</h2>
          </a>

        </div>
        <div class="d-flex justify-content-evenly w-100">
        <button class="btn btn-primary" onclick="showMusicPlayer()">Nghe bài hát</button>
        <input type="hidden" id="url-{{song.id}}" data-url="{% url 'song_playlists' song.id %}" />
          <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#song_playlistform"
            onclick="showPlaylists({{ song.id }})">
            Thêm vào Playlist</button>
      </div>
      </div>
    </div>
  </div>

</div>
<div id="music-player" style="display: none;">
  {% include 'music_player.html' %}
</div>
{% include 'song_playlistform.html' %}
<script>
  const musicPlayer = document.getElementById("music-player")

  function showMusicPlayer() {
    musicPlayer.style.display = "flex";
    playBtn.click();
  }
</script>

{% endblock %}