{% extends "master.html" %}
{% block title %}
Playlists
{% endblock %}
{% block content %}

{% include 'navbar.html' %}
<div style="width: 80vw; max-height: 100vh; overflow-x: hidden; overflow-y: auto;">

  {% include 'header.html' %}
  <div class="main-content">
    <div class="head-group-title" style="display: flex">Danh sách bài hát:
      <button type="button" class="btn btn-primary" style="margin-left: auto; margin-right: 20px;" onclick="playAll()">Phát tất cả</button>
    </div>
    <div class="group-song d-flex justify-content-center">
      <div class="list-songs pt-3" style="width: 78vw">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên bài hát</th>
              <th scope="col">Lượt nghe</th>
              <th scope="col">Ngày phát hành</th>
              <th scope="col">Thời lượng</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for song in songs %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>
                <a href="/music/{{song.id}}" style="text-decoration: none; color: white">
                  <img id="{{ song.id }}" src="{{song.get_cover_path}}" alt="avatar"
                    style="width: 50px; height: 50px; border-radius: 50%;">
                  {{song.name}}
                </a>
              </td>
              <td>{{song.stream_count}}</td>
              <td>{{song.release_day}}</td>
              <td>{{song.duration}}</td>
              <td>
                <div class="d-flex justify-content-around align-items-center">
                  <i class="fas fa-play" onclick="playMusic({{ song.id }})" style="font-size: 12px;"></i>
                  <form action="{% url 'song_in_playlist' playlist_id song.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="background: none; color:white">
                      <i class="fas fa-x" style="font-size: 12px;"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

    </div>

  </div>
  {% include 'music_player.html' %}
</div>
<script>
  const musicPlayer = document.getElementById("music-player")
  function playAll() {
    playBtn.click();
  }
</script>
{% endblock %}