{% extends "master.html" %}
{% block title %}
{{song.name}}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<head>
  {% load static %}
  <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
</head>
<div style="width: 80vw; max-height: 100vh; overflow-x: hidden; overflow-y: auto;">

  {% include 'header.html' %}
  <div class="main-content" style="display: flex;align-items: center; justify-content: center;">
    <div class="detail_song">
      <div class="detail_song_img">
        <img src="{{ song.get_cover_path }}" alt="detail_song_img">
      </div>
      <div class="detail_song_info">
        <div class="detail_song_name">
          <h1>{{song.name}}</h1>
        </div>
        <div class="detail_song_singer">
          <a href="{% url 'artist' song.artists.all.first.id%}" style="text-decoration: none; color: white">
            <h2>{{song.artist_list_str}}</h2>
          </a>

        </div>
        <button class="btn btn-primary" onclick="showMusicPlayer()">Nghe bài hát</button>
      </div>
    </div>
  </div>

</div>
<div id="music-player" style="display: none;">
  {% include 'music_player.html' %}
</div>
<script>
  const musicPlayer = document.getElementById("music-player")

  function showMusicPlayer() {
    musicPlayer.style.display = "flex";
    playBtn.click();
  }
</script>

{% endblock %}