<div class="main-container">
  <div class="header-content">
    {% if user.is_authenticated %}
    <div class="avatar d-flex"> 
      <img
        src= "https://cdn-icons-png.flaticon.com/512/147/147133.png"
        alt="avatar"
        />
      <ul class="navbar-nav mx-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-white">{{ user.username }}</span> 
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/change-password">Đổi mật khẩu</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
      
    {% endif %}

  </div>
</div>
