{% extends "master.html" %}
{% block title %}
Recent Listen
{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<div class="main-container">
  {% include 'header.html' %}
  <div class="main-content">
    <div class="head-group-title">Vừa mới nghe</div>
    <div class="list-musics">
      {% if recent_listen %}
      {% for recent in recent_listen %}
      {% with song=recent.song %}
      <div id="{{ song.id }}" class="music-card">
        <div id="{{ song.id }}" class="music-img">
          <img id="{{ song.id }}" src="{{ song.get_cover_path }}" alt="avatar">
        </div>
        <div id="{{ song.id }}" class="music-info">
          <div id="{{ song.id }}" class="music-name">{{ song.name }}</div>
          <a href="{% url 'artist' song.artists.all.first.id %}" style="text-decoration: none;">
            <div id="{{ song.id }}" class="music-singer">{{ song.artist_list_str }}</div>
          </a>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  {% include 'music_player.html' %}
</div>
{% endblock %}